
body{
  text-transform: none;
  width: 1000px;
  border: solid red 1px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ddd;

}

.nav ul  a{
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
  text-transform: uppercase;

}

.nav ul{
  list-style:none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
  grid-gap: 50px;
   padding: 0;

}

.nav ul li:hover{
  background-color: #003537;
}

.nav ul li{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 30px;

  background-color: #116466;

}

.top-box{
  border: solid 1px black;
  height: 480px;
  display: grid;
grid-template-columns: 70% auto;
grid-template-rows: 1fr 1fr;
grid-gap: 20px;
grid-template-areas: "showcase aside"
"showcase aside";

}

.showcase{

  grid-area: showcase;
  border: solid 1px black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("laptop.jpg");
  background-size: cover;
}

.top-box :hover  {

    opacity:0.8;
}
.showcase h3{
  font-size: 3rem;
  color: white;
}

.aside{
  display: grid;
  grid-area:aside;
  grid-gap: 20px;

  justify-content: center
}

.side-box-a{
  border: solid 1px black;
  display:grid;
  text-align: center;
  justify-content: center;
}

.side-box-b{
  border: solid 1px black;
  display:grid;
  text-align: center;
  justify-content: center;
}
